:root {
  --red: #e76268;
  --premier: #2b8754;
  --green: #1db954;
  --bg: #08090b;
  --bg1: #121315;
  --gray: #a2a2a4;
  --white: #F7F7F7;
  --ccc: #ccc;
  --txt_color: #222;
  --gray_dark: #444546;
  --gray_select: #3b3b3b;
  --black: #000;
}

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  --ion-background-color: var(--bg);
  --ion-text-color: var(--white);
  height: 100vh;
}


.toolbar-start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg1);
  padding: 10px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg1);
  font-weight: 600;
  padding: 16px;
}

.header-title {
  color: var(--white);
  font-size: 20px;
}

ion-buttons {
  height: 10px;
}

ion-back-button {
  color: var(--white);
}

ion-title {
  text-align: center;
}


.container {
  display: flex;
  flex-direction: column;
  padding: 0 0 100px 0;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.slider {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  display: none;
}

.btn {
  background-color: #222;
  color: var(--white);
  border-radius: 6px;
  padding: 5px 8px;
  white-space: nowrap;
  cursor: pointer;
}

.btn.selected {
  background-color: var(--white);
  color: var(--black);
  border-radius: 6px;
  padding: 4px 8px;
  white-space: nowrap;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg1);
  min-width: 150px;
  max-width: 150px;
  color: var(--white);
  transition: all .7s ease;
  cursor: pointer;
  padding: 5px;
  border-radius: 9px;

}

.card img {
  width: 150px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
}

.title {
  font-size: 20px;
}

.title img {
  width: 100px;
  border-radius: 3px;
  margin: -2px 0;
}

.see-all {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 22px;
}

.see-all-btn {
  font-size: 18px;
  cursor: pointer;
}

.card-link {
  text-decoration: none;
  color: var(--white);
}

.card-title {
  font-size: 16px;
}

.point {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.sub-gray {
  font-size: 14px;
  color: var(--gray);
}

.result {
  font-size: 14px;
  color: var(--gray);
  text-align: center;
}

.card-movie {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  /* kugira zirehe */
}


/* ///////////////////////////// */

.header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.movie-infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.infos {
  display: flex;
  gap: 8px;
  align-items: center;
}

.infos img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 8px;
  background: var(--premier);
  color: var(--black);
  cursor: pointer;
  font-size: 16px;
}

.btn-main span {
  margin: 0 5px;
}

.button-option1 {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.button-option2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

ion-thumbnail {
  --size: 80px;
}

ion-thumbnail img {
  border-radius: 8px;

}

.movie-detail-card {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 56.25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.movie-detail-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), var(--bg));
}

.movie-detail-card .video-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  background-color: var(--bg1);
  z-index: -1;
}

.movie-detail-card .video-js.video-playing {
  z-index: 1;
}

.play {
  position: absolute;
  bottom: 10%;
  display: flex;
  gap: 10px;
}

.vjs-volume-panel {
  width: 100px;
}

.vjs-volume-panel .vjs-volume-control {
  width: 100%;
  /* background-color: var(--bg); */
  border-radius: 5px;
}

.vjs-volume-control .vjs-volume-level {
  /* background-color: var(--premier); */
  border-radius: 5px;
}

#player_html5_api {
  border-radius: 8px;
}

.vjs-control-bar {
  border-radius: 0 0 8px 8px;
}

.video-js .vjs-big-play-button {
  color: var(--premier);
}

.vjs-loading-spinner {
  border: 2px solid transparent;
  border-top-color: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* animation: spin 1s linear infinite; */
}

@media (min-width: 550px) {
  .movie-detail-card {
    padding-bottom: 0;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }

  .play-button ion-icon {
    width: 60px;
    height: 60px;
    color: var(--white);
    text-align: center;
  }
}

@media (min-width: 850px) {
  .movie-detail-card {
    padding-bottom: 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

}

.episode-infos {
  display: flex;
  flex-direction: column;
}

.episode-title {
  margin-top: 12px;
}

.option-button {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.seasons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.episode-item {
  display: flex;
  gap: 8px;
  position: relative;
}

.play-sign {
  position: absolute;
  margin: 5px;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 2px;
  align-items: end;
}

.play-sign-item {
  display: inline-block;
  font-size: 18px;
  border: 2px solid var(--premier);
  border-radius: 1px;
}

.level-1 {
  animation: change-height 0.5s infinite;
}

.level-2 {
  animation: change-height 0.7s infinite;
}

.level-3 {
  animation: change-height 0.9s infinite;
}

@keyframes change-height {

  0%,
  100% {
    height: 20px;
  }

  25% {
    height: 16px;
  }

  50% {
    height: 12px;
  }

  75% {
    height: 8px;
  }
}


.episode-item img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

/* ion-modal[breakpoint="0.6"] ion-content {
  --overflow: auto;
} */

.modal-scroll {
  /* height: 100%;
  min-height: 60%; */
  overflow-y: auto;
  padding: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stati {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.couple {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  background-color: #222;
  border-radius: 8px;
  margin: 5px 0;
  padding: 10px;
  white-space: pre-wrap;
}

.category {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  gap: 10px;
}


/* //////////////////////// */

.signup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.signup-container img{
  width: 100px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 12px;
}

ion-item.custom-item {
  --background: #333;
  --color: white;
  border-radius: 8px;
}

.container-modal {
  backdrop-filter: blur(3px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.content-modal {
  background-color: var(--bg);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  max-height: 70%;
  padding: 20px;
  position: relative;
}

input[type="radio"] {
  margin-right: 10px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  margin: 0;
  background-color: var(--bg1);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 18px;
}

.login_color {
  color: var(--premier);
  cursor: pointer;
}

.confirm {
  color: var(--premier)
}

small {
  color: var(--red)
}

.danger {
  color: var(--red)
}